node_modules
.expo
.turbo
dist
build
.DS_Store
*.log
*.tsbuildinfo
.env
.env.local
coverage
services/api/generated
apps/mobile/.expo
apps/admin/dist
services/api/prisma/dev.db
android-apk/build
*.apk
*.idsig
*.keystore
