PORT=3333
DATABASE_URL=postgresql://fortin:fortin123@localhost:5432/acai_do_fortin?schema=public
JWT_SECRET=troque-esta-chave
FRONTEND_ORIGIN=*
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

